:root {

}
.body{

    background-color:dimgray;

}

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin: auto;
    background-color: dimgray;
    color: white;

}

input , label{

    width: 50%;
    text-align: center;
    margin: auto;
}

.btn {
   margin: auto;
    text-align: center;
}


table, th, td {
    border:1px solid white;
    border-collapse: collapse;
    border-color: black;
    
}

th, td {
    background-color: gray;
}